In [1]:
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

In [2]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
Pandas version 1.3.5
Matplotlib version 3.2.2

In [3]:
names = ['Abhishek','Anandi','Siddharth','Parth','Deepak']
births = [968, 50, 180, 578, 973]
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Abhishek', 968),
 ('Anandi', 50),
 ('Siddharth', 180),
 ('Parth', 578),
 ('Deepak', 973)]

In [4]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

       Names  Births
0   Abhishek     968
1     Anandi      50
2  Siddharth     180
3      Parth     578
4     Deepak     973

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')